# DSCI 303 â€“ Project 02
### Adam Eccles

# Introduction

In this project we will be using the "Pandas" library to allow us to import data in a dataframe object.

In [1]:
import pandas as pd
df = pd.read_csv('gapminder_data.txt', sep='\t')
df.head(10)

,country,year,continent,population,life_exp,gdp_per_cap,gini
0,Afghanistan,1800,asia,3280000,28.2,603,30.5
1,Albania,1800,europe,410000,35.4,667,38.9
2,Algeria,1800,africa,2500000,28.8,715,56.2
3,Angola,1800,africa,1570000,27.0,618,57.2
4,Antigua and Barbuda,1800,americas,37000,33.5,757,40.0
5,Argentina,1800,americas,534000,33.2,1510,47.7
6,Armenia,1800,europe,413000,34.0,514,31.5
7,Australia,1800,asia,351000,34.0,814,38.7
8,Austria,1800,europe,3210000,34.4,1850,33.4
9,Azerbaijan,1800,europe,880000,29.2,775,70.5

In [2]:
country = df.country.to_list()
continent = df.continent.to_list()
year = df.year.to_list()
population = df.population.to_list()
life_exp = df.life_exp.to_list()
pcgdp = df.gdp_per_cap.to_list()
gini = df.gini.to_list()

In [3]:
N = 5555
print('Country: ', country[N])
print('Continent: ', continent[N])
print('Year: ', year[N])
print('Population: ', population[N])
print('Life Expectancy: ', life_exp[N])
print('Per Capita GDP: ', pcgdp[N])
print('Gini Index: ', gini[N])

Country:  Colombia
Continent:  americas
Year:  1830
Population:  1450000
Life Expectancy:  32.0
Per Capita GDP:  990
Gini Index:  59.1

# Part 1: Displaying Past 20 Years of US Data

In [4]:
print("Year    Country         Population    LExp    pcGDP    Gini")
print("-----------------------------------------------------------")


for x in range(len(country)):
    if country[x] == 'United States' and year[x] >= 1999:
         print(f'{year[x]:4}    {country[x]:15} {population[x]:10}    {life_exp[x]:4}    {pcgdp[x]:5}    {gini[x]:4}')

Year    Country         Population    LExp    pcGDP    Gini
-----------------------------------------------------------
1999    United States    279000000    76.8    44700    40.5
2000    United States    282000000    76.9    46000    40.5
2001    United States    285000000    77.0    46000    40.5
2002    United States    288000000    77.1    46400    40.5
2003    United States    290000000    77.3    47300    40.5
2004    United States    293000000    77.5    48600    40.6
2005    United States    295000000    77.7    49800    40.7
2006    United States    298000000    77.9    50600    40.8
2007    United States    301000000    78.1    51000    40.8
2008    United States    303000000    78.3    50400    40.8
2009    United States    306000000    78.6    48600    40.7
2010    United States    309000000    78.7    49400    40.7
2011    United States    311000000    78.8    49800    40.7
2012    United States    313000000    78.9    50500    40.8
2013    United States    316000000    78.9    51000    41.0
2014    United States    318000000    78.9    51800    41.2
2015    United States    320000000    78.8    52800    41.3
2016    United States    322000000    78.8    53300    41.4
2017    United States    324000000    79.0    54200    41.5
2018    United States    327000000    79.1    54900    41.5

# Part 2: Selecting the 2018 Data

In [5]:
country_2018 = []
population_2018 = []
continent_2018 = []
life_exp_2018 = []
pcgdp_2018 = []
gini_2018 = []

for x in range(len(year)):
    if year[x] == 2018: 
        country_2018.append(country[x])
        population_2018.append(population[x])
        continent_2018.append(continent[x])
        life_exp_2018.append(life_exp[x])
        pcgdp_2018.append(pcgdp[x])
        gini_2018.append(gini[x])

In [6]:
global_population_2018 = sum(population_2018)

print(f"The global population in 2018 was {global_population_2018}.")

The global population in 2018 was 7595200200.

# Part 3: Identifying Countries with Largest and Smallest Populations
We will display the top 10 most populated and the bottom 10 least populated countries of 2018.

In [7]:
sorted_pop_18 = sorted(population_2018)

tenth_lrg_pop = sorted_pop_18[-10]

print("Countries with Largest Populations in 2018")
print("------------------------------------------------------")

for x in range(len(population_2018)):
    if population_2018[x] >= tenth_lrg_pop:
        print(f"The population of {country_2018[x]} in 2018 was {population_2018[x]:,}.")

Countries with Largest Populations in 2018
------------------------------------------------------
The population of Bangladesh in 2018 was 166,000,000.
The population of Brazil in 2018 was 211,000,000.
The population of China in 2018 was 1,420,000,000.
The population of India in 2018 was 1,350,000,000.
The population of Indonesia in 2018 was 267,000,000.
The population of Mexico in 2018 was 131,000,000.
The population of Nigeria in 2018 was 196,000,000.
The population of Pakistan in 2018 was 201,000,000.
The population of Russia in 2018 was 144,000,000.
The population of United States in 2018 was 327,000,000.

In [8]:
sorted_pop_18 = sorted(population_2018)

tenth_sml_pop = sorted_pop_18[9]

print("Countries with Smallest Populations in 2018")
print("------------------------------------------------------")

for x in range(len(population_2018)):
    if population_2018[x] <= tenth_sml_pop:
        print(f"The population of {country_2018[x]} in 2018 was {population_2018[x]:,}.")

Countries with Smallest Populations in 2018
------------------------------------------------------
The population of Antigua and Barbuda in 2018 was 103,000.
The population of Grenada in 2018 was 108,000.
The population of Kiribati in 2018 was 118,000.
The population of Micronesia, Fed. Sts. in 2018 was 106,000.
The population of Samoa in 2018 was 198,000.
The population of Sao Tome and Principe in 2018 was 209,000.
The population of Seychelles in 2018 was 95,200.
The population of St. Lucia in 2018 was 180,000.
The population of St. Vincent and the Grenadines in 2018 was 110,000.
The population of Tonga in 2018 was 109,000.

# Part 4: Identifying Countries with Highest and Lowest Life Expectancies

In this part of the project we will display a list of the countries with the highest life expectancies in 2018, as well as a list of 
countries with the lowest life expectancies in 2018.

In [9]:
sorted_life_18 = sorted(life_exp_2018)

tenth_big_life = sorted_life_18[-10]

print("Countries with Lowest Life Expectancy in 2018")
print("------------------------------------------------------")

for x in range(len(life_exp_2018)):
    if life_exp_2018[x] >= tenth_big_life:
        print(f"The life expectancy of {country_2018[x]} in 2018 was {life_exp_2018[x]:,}.")

Countries with Lowest Life Expectancy in 2018
------------------------------------------------------
The life expectancy of Australia in 2018 was 82.9.
The life expectancy of France in 2018 was 82.6.
The life expectancy of Iceland in 2018 was 82.6.
The life expectancy of Israel in 2018 was 82.4.
The life expectancy of Italy in 2018 was 82.6.
The life expectancy of Japan in 2018 was 84.2.
The life expectancy of Luxembourg in 2018 was 82.4.
The life expectancy of Norway in 2018 was 82.4.
The life expectancy of Singapore in 2018 was 84.0.
The life expectancy of Spain in 2018 was 83.2.
The life expectancy of Sweden in 2018 was 82.4.
The life expectancy of Switzerland in 2018 was 83.5.

In [10]:
sorted_life_18 = sorted(life_exp_2018)

tenth_sml_life = sorted_life_18[9]

print("Countries with Lowest Life Expectancy in 2018")
print("------------------------------------------------------")

for x in range(len(life_exp_2018)):
    if life_exp_2018[x] <= tenth_sml_life:
        print(f"The life expectancy of {country_2018[x]} in 2018 was {life_exp_2018[x]:,}.")

Countries with Lowest Life Expectancy in 2018
------------------------------------------------------
The life expectancy of Afghanistan in 2018 was 58.7.
The life expectancy of Central African Republic in 2018 was 51.6.
The life expectancy of Chad in 2018 was 60.5.
The life expectancy of Guinea-Bissau in 2018 was 59.7.
The life expectancy of Lesotho in 2018 was 51.1.
The life expectancy of Sierra Leone in 2018 was 60.0.
The life expectancy of Somalia in 2018 was 58.0.
The life expectancy of Swaziland in 2018 was 58.6.
The life expectancy of Zambia in 2018 was 59.5.
The life expectancy of Zimbabwe in 2018 was 60.2.

# Part 5: Calculating GDP by CountryIn this part of the project I will create a list that contains the GDP for each country in 2018, as well as the total GDP of the world as a whole.

In [11]:
gdp_2018 = []

for x in range(len(pcgdp_2018)):
    gdp_2018.append(pcgdp_2018[x] * population_2018[x])

print(f"The total global GDP in 2018 was ${sum(gdp_2018):,}.")

The total global GDP in 2018 was $118,225,647,770,000.

In [12]:
highest_gdp = max(gdp_2018)
lowest_gdp = min(gdp_2018)

highest_gdp_country = country_2018[gdp_2018.index(highest_gdp)]
lowest_gdp_country = country_2018[gdp_2018.index(lowest_gdp)]

print(f"The country with the highest GDP in 2018 was {highest_gdp_country} with a GDP of ${highest_gdp:,}.")
print(f"The country with the lowest GDP in 2018 was {lowest_gdp_country} with a GDP of ${lowest_gdp:,}.")

The country with the highest GDP in 2018 was China with a GDP of $22,720,000,000,000.
The country with the lowest GDP in 2018 was Kiribati with a GDP of $223,020,000.

# Part 6: Grouping by Continent

The countries in this dataset are grouped into four continental regions: africa, americas, asia, and europe. In this part 
of the project,we will  calculate the total population, per capita GDP, and life expectancy for each of these
regions in 2018.

In [13]:
continent_names = ['africa', 'americas', 'asia', 'europe']

pcgdp_2018_by_continent = []
pop_2018_by_continent = []
life_exp_2018_by_continent = []

for continent in continent_names:
    temp_life_exp = 0 
    temp_pop = 0
    temp_gdp = 0
    
    for i in range(len(country_2018)):
        if continent_2018[i] == continent:
            temp_pop += population_2018[i]
            temp_gdp += pcgdp_2018[i] * population_2018[i]
            temp_life_exp += life_exp_2018[i] * population_2018[i] \
            
    if temp_pop > 0:
        temp_gdp = round(temp_gdp / temp_pop) 
        temp_life_exp = round(temp_life_exp / temp_pop, 1)

    pop_2018_by_continent.append(temp_pop)
    pcgdp_2018_by_continent.append(temp_gdp)
    life_exp_2018_by_continent.append(temp_life_exp)

print(f"{'Continent':<10} {'Population':>13} {'pcGDP':>10} {'Life Exp':>10}")
print("----------------------------------------------")
for i in range(len(continent_names)):
    print(f"{continent_names[i].capitalize():<10} {pop_2018_by_continent[i]:>13,} {pcgdp_2018_by_continent[i]:>10,} {life_exp_2018_by_continent[i]:>10}")

Continent     Population      pcGDP   Life Exp
----------------------------------------------
Africa     1,287,150,200      4,700       65.9
Americas   1,010,978,000     28,708       77.5
Asia       4,455,113,000     12,705       73.2
Europe       841,959,000     31,534       78.4